<meta charset="UTF-8">

<div class="col-sm-8 col-sm-offset-2">
	
	<div class="page-header">
		<h3 class="text-left">Meus Anúncios Cadastrados</h3>
	</div>
	
	<div>
		<div>
			<button class="btn btnCadastro pull-left" style="margin:0">Novo anúncio
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
		<ul id="listaAnuncios">
			<li class="col-sm-12 pull-left" ng-repeat="anuncio in anuncios">
				<div class="col-sm-3">
					<img src="./build/img/carro.jpg" width="150" height="120" alt="carro"/>
				</div>
				<div class="col-sm-9">
					<table class="col-sm-8">
						<thead>
							<tr>
								<th>PREÇO</th>
								<th>MARCA</th>
								<th>MODELO</th>
								<th>COR</th>
								<th>ANO</th>
								<th>KM</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{anuncio.properties.valor}}</td>
								<td>{{anuncio.properties.marca}}</td>
								<td>{{anuncio.properties.modelo}}</td>
								<td>{{anuncio.properties.cor}}</td>
								<td>{{anuncio.properties.ano}}</td>
								<td>{{anuncio.properties.km}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</li>
		</ul>
	</div>
</div>