<meta charset="UTF-8">

<div class="col-sm-8 col-sm-offset-2">
	<div style="margin-top: 25px;">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="3000" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>

	<div class="page-header-autogeo">
		<h3 class="text-left col-xs-12">Cadastro do Anúncio</h3>
		<span class="help-block text-left pull-left">Preencha as informações do anúncio.</span>
	</div>
	
	<div class="formContainer">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="marca" class="col-sm-3 control-label">Marca</label>
			    <div class="col-sm-8">
					<select id="marca" class="form-control" ng-change="getModelo(selectedMarca)" ng-options="option.marca for option in marcas" ng-model="selectedMarca" required>
						<option value="">Selecione a Marca</option>
					</select>
			    </div>
			</div>
			<div class="form-group">
				<label for="modelo" class="col-sm-3 control-label">Modelo</label>
			    <div class="col-sm-8">
					<select id="modelo" class="form-control" ng-options="option.nome for option in modelos" ng-model="anuncio.modelo" required>
						<option value="">Selecione o Modelo</option>
					</select>
			    </div>
			</div>
			<div class="form-group">
				<label for="combustivel" class="col-sm-3 control-label">Combustível</label>
			    <div class="col-sm-4">
					<select id="combustivel" class="form-control" ng-options="option.combustivel for option in combustiveis" ng-model="anuncio.combustivel" required>
						<option value="">Selecione o Combustível</option>
					</select>
			    </div>
			    <label for="cor" class="col-sm-1 control-label">Cor</label>
			    <div class="col-sm-3">
					<select id="cor" class="form-control" ng-options="option.cor for option in cores" ng-model="anuncio.cor" required>
						<option value="">Selecione a Cor</option>
					</select>
			    </div>
			</div>
			<div class="form-group">
			    <label for="ano" class="col-sm-3 control-label">Ano</label>
			    <div class="col-sm-2">
					<input type="text" class="form-control" id="ano" placeholder="Ano" ng-model="anuncio.ano" required>
			    </div>
			    <label for="placa" class="col-sm-1 control-label">Placa</label>
			    <div class="col-sm-2">
					<input type="text" class="form-control" id="placa" placeholder="Placa" ng-model="anuncio.placa" required>
			    </div>
			    <label for="km" class="col-sm-1 control-label">Km</label>
			    <div class="col-sm-2">
					<input type="text" class="form-control" id="km" ui-number-mask="0" placeholder="Km" ng-model="anuncio.km">
			    </div>
			</div>
			<div class="form-group">
			    <label for="preco" class="col-sm-3 control-label">Preço</label>
			    <div class="col-xs-2 col-sm-3 col-lg-4">
					<input type="text" class="form-control" id="preco" ui-money-mask placeholder="Preço" ng-model="anuncio.valor" required>					
			    </div>
			    <div class="col-xs-4">
			    	<button type="button" style="margin:0" class="btn btnAzul pull-left" ng-click="consultaFipe()">
						<span class="glyphicon glyphicon-search"></span>
						Consultar Preço na FIPE
					</button>
			    </div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-3"></div>
			    <div class="col-sm-8">
			    	<alert type="success" close="fecharValor()" ng-show="fipeObj">Preço encontrado na tabela Fipe: <b>{{fipeObj.preco}}</b> - Referência: <b>{{fipeObj.referencia}}</b></alert>
			    	<alert type="danger" close="fechar()" ng-show="fipeErro">{{fipeErro}}</alert>
		    	</div>
			</div>
			
			<div class="form-group">
			    <label for="acessorios" class="col-sm-3 control-label">Acessórios</label>
			    <div class="col-sm-4">
					<select id="acessorios" class="form-control" ng-options="option.acessorio for option in acessorios" ng-model="selectedAcessorio">
						<option value="">Adicione os acessórios desejados</option>
					</select>
			    </div>
			    <div class="col-sm-2">
					<button type="button" style="margin:0" class="btn btnCadastro pull-left" ng-click="addAcessorio()">
						<span class="glyphicon glyphicon-plus"></span>
						Adicionar
					</button>
			    </div>
			    <div class="col-sm-2" style="padding:0">
					<button type="button" style="margin:0" class="btn btnFavorito pull-left" ng-click="limparAcessorios()">
						<span class="glyphicon glyphicon-trash"></span>
						Limpar
					</button>
			    </div>
			</div>
			<div class="form-group">
			    <label for="acessorios" class="col-sm-3 control-label">Acessórios Adicionados</label>
			    <div class="col-sm-8">
				    <pre>
				    	<span class="badge pull-left" ng-repeat="ac in anuncio.acessorios" style="background:#0065AE; margin: 5px;padding:4px 10px 5px 10px;" >{{ac.acessorio}}</span>
				    </pre>
			    </div>
			</div>
			<div class="form-group">
				<label for="obs" class="col-sm-3 control-label">Observações</label>
			    <div class="col-sm-8">
					<textarea class="form-control" rows="2" style="height:auto;" ng-model="anuncio.observacao"></textarea>
			    </div>
			</div>
			
			<div class="page-header-autogeo" ng-hide="isLoja">
				<h3 class="text-left col-xs-12">Localização</h3>
				<span class="help-block text-left pull-left">Para o anúncio aparecer no mapa você deve informar a localização do automóvel no mapa abaixo.</span>
			</div>
			
			<div class="form-group" ng-hide="isLoja">
			    <label for="endereco" class="col-sm-3 control-label">Digite o Endereço</label>
			    <div class="col-sm-6">
					<input type="text" class="form-control" id="endereco" ng-model="endereco" placeholder="Ex: rua xxx, av. yyyy">
			    </div>
			    <div class="col-sm-2">
			    	<button type="button" class="btnCadastro" style="margin:0" ng-click="geocode()">
			    		<span class="glyphicon glyphicon-search"></span>
			    		Buscar
		    		</button>
			    </div>
			</div>
			
			<div class="form-group" style="padding:15px;" ng-hide="isLoja">
				<leaflet defaults="defaults" center="center" markers="markers" width="100%" height="300"></leaflet>
			</div>
			
			<div class="page-header-autogeo" ng-hide="isLoja">
				<h3 class="text-left col-xs-12">Fotos</h3>
				<span class="help-block text-left pull-left">Selecione as fotos que deseja publicar neste anúncio. Você pode selecionar até 3 fotos.</span>
			</div>
			
			<div class="form-group">
				<label for="fotos" class="col-sm-3 control-label">Fotos</label>
			    <div class="col-sm-8">
					<input type="file" file-upload multiple/>
			    </div>
			</div>
			
			<div class="form-group">
				<ul>
			        <li ng-repeat="file in files">{{file.name}}</li>
			    </ul>
			</div>
			
			<div class="form-group">
				<div class="col-sm-12">
					<button type="submit" class="btn btnCadastro" ng-click="cadastrarAnuncio()">
						<span class="glyphicon glyphicon-plus"></span>
						Cadastrar
					</button>
					<button style="margin-right:10px;" type="submit" class="btn btnFavorito" ng-click="go('/anuncios')">
						<span class="glyphicon glyphicon-remove"></span>
						Cancelar
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
