<meta charset="UTF-8">

<div class="col-sm-8 col-sm-offset-2">

	<div style="margin-top: 5px;">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="1500" close="closeAlert($index)">{{alert.msg}}</alert> 
	</div>

	<div class="page-header-autogeo">
		<h3 class="text-left">Meus Favoritos</h3>
		<span class="help-block text-left pull-left">Os anúncios que você marcou como favorito estão listados abaixo.</span>
	</div>
	
	
	<div>
		<div style="margin-top: 15px;clear:both;" ng-hide="anuncios.length > 0">
			<alert type="warning">Você não pussui nenhum anúncio marcado como favorito.</alert>
		</div>
		<ul id="listaAnuncios" class="col-xs-12 pull-left">
			<li class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pull-left" ng-repeat="anuncio in anuncios">
				<div class="divAnuncio" style="height:445px;">
					<div class="imgAnuncio">
						<img ng-show="anuncio.fotos.length == 0" src="./build/img/no-foto.jpg" alt="Automóvel" title="Automóvel"/>						
						<img ng-show="anuncio.fotos.length > 0" ng-src="dados/foto/{{anuncio.id}}/{{anuncio.fotos[0].nome}}" alt="Automóvel" title="Automóvel"/>
					</div>
					<table class="col-sm-11">
						<tbody>
							<tr class="preco">
								<td><span class="icone filtroPreco ativo"></span>{{anuncio.valor | currency:"R$" :2}}</td>
							</tr>
							<tr>
								<td><span class="icone filtroMarca ativo"></span>{{anuncio.modelo.marca.marca}}</td>
							</tr>
							<tr>
								<td tooltip-placement="top" tooltip="{{anuncio.modelo.nome}}"><span class="icone filtroModelo ativo"></span>{{anuncio.modelo.nome | limitTo:23}} {{(anuncio.modelo.nome.length > 23) ? '...' : ''}}</td>
							</tr>
							<tr>
								<td><span class="icone filtroCalendar ativo"></span>{{anuncio.ano}}</td>
							</tr>
							<tr>
								<td><span class="icone filtroKm ativo"></span>{{anuncio.km}}</td>
							</tr>
						</tbody>
					</table>
					<div class="col-xs-12 divBtnAnuncio">
						<button class="btnCadastro pull-left" ng-click="go('/visualizar/'+anuncio.id)">Visualizar no Mapa</button>
						<button class="btnFavorito pull-left" ng-click="removerFavorito(anuncio.id)">Excluir dos Favoritos</button>
					</div>
				</div>
			</li>
		</ul>
					
	</div>
</div>