<meta charset="UTF-8">
 
<div class="modal-body">
	<div style="margin-top: 25px;">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="2200" close="closeAlert($index)">{{alert.msg}}</alert> 
	</div>
	<div style="float:left;background:#FFF;width:100%;">
		<h4 class="pull-right" style="color:#0065AE;font-weight:400;">{{anuncio.properties.valor | currency:R$}}</h4>
		<div class="pull-right" ng-controller="LoginCtrl" ng-show="showElement()">
			<span ng-show="anuncio.properties.favorito == false" ng-click="favoritar('add')" class="starFavoritar glyphicon glyphicon-star-empty pull-right" tooltip-placement="left" tooltip="Adicionar dos Favoritos"></span>
			<span ng-show="anuncio.properties.favorito == true" ng-click="favoritar('remove')" class="starFavoritar glyphicon glyphicon-star pull-right" tooltip-placement="left" tooltip="Remover dos Favoritos"></span>
		</div>
		<span tooltip-placement="right" tooltip="Valor Encontrado na Tebela FIPE" class="badge pull-left" style="padding:5px;margin:0;font-weight:300;font-size:9pt;">{{anuncio.properties.fipe.preco}}</span>
<!-- 		<h5 class="pull-left">{{anuncio.properties.fipe.preco}}</h5> -->
	</div>
	<div>
		<div style="float:left;height: 220px; background:#f1f1f1;width:100%;">
			<img ng-show="anuncio.properties.fotos.length == 0" ng-src="./build/img/no-foto.jpg" style="margin: auto;max-width: 100%;max-height: 220px;display:block;">
			<carousel interval="2000" no-wrap="false" ng-show="anuncio.properties.fotos.length > 0"> 
				<slide  ng-repeat="foto in anuncio.properties.fotos"> 
					<img ng-src="dados/foto/{{anuncio.properties.id}}/{{foto.nome}}" style="margin: auto;max-width: 100%;max-height: 220px;">
				</slide> 
			</carousel>
		</div>
		
		<div style="margin:15px 0 15px 0;">
			<table class="table">
				<thead>
					<tr>
						<th>Marca</th>
						<th>Modelo</th>
						<th>Ano</th>
						<th>KM</th>
						<th>Cor</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{anuncio.properties.marca}}</td>
						<td>{{anuncio.properties.modelo}}</td>
						<td>{{anuncio.properties.ano}}</td>
						<td>{{anuncio.properties.km}}</td> 
						<td>{{anuncio.properties.cor}}</td>
						<td>{{(anuncio.properties.estado == 1) ? 'Zero' : 'Usado'}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<tabset justified="true" style="margin: 25px 0 0 0;">
			<tab heading="Acessórios">
				<div style="margin-top:25px">
					<span class="badge fundoAzul" style="padding:6px;margin:8px;font-weight:300;font-size:10pt;" ng-repeat="acessorio in anuncio.properties.acessorios">{{acessorio.acessorio}}</span>
				</div>
			</tab>
			<tab heading="Contato">
				<div class="col-xs-12" ng-hide="anuncio.properties.loja">
					<span class="col-xs-2 text-right titleContato">Anunciante: </span>
					<span class="col-xs-8 text-left textContato">{{anuncio.properties.contato.nome}}</span>
				</div>
				<div class="col-xs-12" ng-hide="anuncio.properties.loja">
					<span class="col-xs-2 text-right titleContato">Telefone: </span>
					<span class="col-xs-8 text-left textContato">{{anuncio.properties.contato.telefone}}</span>
				</div>
				<div class="col-xs-12" ng-hide="anuncio.properties.loja">
					<span class="col-xs-2 text-right titleContato">Email: </span>
					<span class="col-xs-8 text-left textContato">{{anuncio.properties.contato.email}}</span>
				</div>
				
				<div class="col-xs-12" ng-show="anuncio.properties.loja">
					<span class="col-xs-2 text-right titleContato">Loja: </span>
					<span class="col-xs-8 text-left textContato">{{anuncio.properties.loja.nome_fantasia}}</span>
				</div>
				<div class="col-xs-12" ng-show="anuncio.properties.loja">
					<span class="col-xs-2 text-right titleContato">cnpj: </span>
					<span class="col-xs-8 text-left textContato">{{anuncio.properties.loja.cnpj}}</span>
				</div>
				<div class="col-xs-12" ng-show="anuncio.properties.loja">
					<span class="col-xs-2 text-right titleContato">Telefone: </span>
					<span class="col-xs-8 text-left textContato">{{anuncio.properties.loja.telfone}}</span>
				</div>
				<div class="col-xs-12" ng-show="anuncio.properties.loja">
					<span class="col-xs-2 text-right titleContato">email: </span>
					<span class="col-xs-8 text-left textContato">{{anuncio.properties.loja.email}}</span>
				</div>
			</tab>
		</tabset>
		
		<div>
			<button class="btnFavorito" style="float: none;width: 100%; max-width: 100%;" type="button" ng-click="ok()">Fechar Anúncio</button>
		</div>
	</div>
</div>
