header{
	height: auto;
	position: fixed;
	z-index: 1500;
	top: 0;
	border-bottom: 1px solid #e5e5e5;
}
#logo:hover{
	cursor: pointer;
}
#menu a{
	float: left;
	display: block;
	height: 79px;
	line-height: 79px;
	font-size: 14px;
	font-weight: normal;
	margin-left: 25px;
	color: #0065ae;
	font-weight: bold;
	padding-top: 3px;
	text-decoration: none;
}
#menu a span{
	float: left;
	margin-right: 10px;
	line-height: 75px;
	height: 75px;
}
#menu a.ativo{
	text-decoration: none;
	border-top: 3px solid #0065ae;
	color: #0065ae;
	padding-top: 0;
}

#menu a:hover{
	text-decoration: none;
	border-top: 3px solid #0065ae;
	color: #0065ae;
	padding-top: 0;
}
